@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

:root {
  --font-hand: "Caveat";
}

@page:first  {
  background: var(--front-cover), white;
  background-size: 300px;
  background-position: 90% 80%;
  background-repeat: no-repeat;
}

.handmade h2 {
  font-size: 1em;
  margin: 0;
  padding: 0;
  font-style: italic;
  text-align: center;
  font-family: var(--font-serif);
  font-size: 1.3em;
  margin: 1em 0 0 0;
  line-height: 1.3;
}

.handmade::after {
  width: 1px;
  height: 100px;
  position: absolute;
  background: var(--color-body);
  display: block;
  margin: 0 auto;
  left: 50%;
}

.handmade .fig {
  align-self: flex-end;
}

.handmade ol {
  font-size: 1.2em;
  line-height: 1.1;
  margin-bottom: 3em;
  position: relative;
  background: white;
  list-style-type: none !important;
  margin: 0;
  padding: 1ch;
  font-family: var(--font-hand);
}

.handmade ol li {
  margin-top: 0.5em;
}

.handmade ol li p {
  font-size: .9em;
  line-height: 1.1;
}

.handmade + .section h3 {
  font-size: 1.3em;
  background: white;
  padding: 0 2ch;
  text-align: center;
  font-family: var(--font-serif);
  font-style: italic;
  margin-top: 2em;
}

.handmade ol li {
  display: inline;
}

.handmade ol li p {
  display: inline;
}

.handmade ol strong {
  display: block;
  margin-top: 2em;
  margin-bottom: 2em;
  line-height: 1.3;
  text-align: center;
  width: 49%;
  font-weight: 400;
}

.handmade img {
  position: relative;
  top: -51px;
  width: 171px;
  right: -79px;
}

/* à rajouter à propre si besoin */


.last-page p {
  font-family: var(--font-sans);
}

.last-page h3 {
  margin-bottom: var(--font-lineHeight);
  margin-top: calc(var(--font-lineHeight) * 2);
  position: relative;
  font-weight: 300;
  color: var(--color-primary);
}

.last-page  ol {
  margin: 0;
  padding: 0;
  padding-left: 2ch;
}

.last-page h2 {
  margin-top: 2em;
  line-height: 1.3;
}

.last-page .main-column h2:first-child {
  margin-top: calc(var(--font-lineHeight) * 2);
}